.container {
  display: flex;
  padding: 20px;
  background: #f1f3f6;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  height: fit-content;
}

.filter-box {
  margin-bottom: 25px;
}

.filter-box h4 {
  font-size: 15px;
  margin-bottom: 10px;
}

.filter-box label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  cursor: pointer;
}

/* Product Grid */
.product-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  margin-left: 20px;
}

.product-card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.product-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.product-card img {
  width: 100%;
  height: 160px;
  object-fit: contain;
}

.title {
  font-size: 15px;
  margin: 10px 0;
  min-height: 40px;
  font-weight: 600;
  font-style: initial;
}

.rating {
  font-size: 14px;
  color: #2e7d32;
}

/* Pricing */
.price-box {
  margin-top: 8px;
}

.price {
  font-size: 20px;
  font-weight: bold;
}

.old-price {
  margin-left: 10px;
  text-decoration: line-through;
  color: gray;
}

.discount {
  margin-left: 10px;
  color: #388e3c;
  font-weight: 500;
}
