.container {
  display: flex;
  padding: 20px;
  background: #f1f3f6;
}



.product-grid {
  flex: 1;
 display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
  margin-left: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border: 1px solid #e0e0e0;
  background: #fff;
}

.product-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.product-card img {
   width: 100%;
  height: 200px;
  object-fit: contain;
}

.title {
  font-size: 14px;
  line-height: 1.4;
  height: 40px; /* equal height */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 8px 0;
}

.rating {
  font-size: 14px;
  color: #2e7d32;
}

/* Pricing */
.price-box {
  margin-top: 8px;
}

.price {
   margin-top: auto;
  font-weight: bold;
}

.old-price {
  margin-left: 10px;
  text-decoration: line-through;
  color: gray;
}

.discount {
  margin-left: 10px;
  color: #388e3c;
  font-weight: 500;
}
.sidebar {
  width: 260px;
  background: #fff;
  padding: 15px;
  border-radius: 4px;
}

/* Sidebar title */
.sidebar-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Filter section */
.filter-section {
  border-top: 1px solid #e0e0e0;
  padding: 12px 0;
}

.filter-section h4 {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Category list */
.filter-section ul {
  list-style: none;
}

.filter-section ul li {
  font-size: 13px;
  padding: 4px 0;
  cursor: pointer;
}

.filter-section ul .sub {
  padding-left: 15px;
  color: #555;
}

/* Checkbox labels */
.filter-section label {
  display: block;
  font-size: 13px;
  margin-bottom: 6px;
  cursor: pointer;
}

.filter-section input {
  margin-right: 6px;
}

/* Price range */
.price-range {
  display: flex;
  align-items: center;
  gap: 6px;
}

.price-range select {
  padding: 4px;
  font-size: 12px;
}
