* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  width: 100%;
  background-color: #d3830c;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  background: linear-gradient(45deg, #dd33aa, #2908e4);
  background-clip: text;
  color: transparent;
}

.search-box {
  display: flex;
  width: 50%;
}

.search-box input {
  width: 80%;
  padding: 8px;
  border: none;
  border-radius: 3px 0 0 3px;
  outline: none;
}

.search-box button {
  padding: 8px 15px;
  border: none;
  background: #ecca6b;
  color: white;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
}

.btn {
  padding: 8px 18px;
  background: white;
  color: #0d6efd;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}