.product-box {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  font-family: Arial, sans-serif;
}


.product-box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.product-box-header h2 {
  font-size: 22px;
  font-weight: 600;
}

.view-btn {
  background: #2874f0;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.view-btn:hover {
  background: #0d5adf;
}

.product-box-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.product-item {
  text-align: center;
  padding: 10px;
  background: #fafafa;
  border-radius: 8px;
  transition: 0.3s;
}

.product-item:hover {
  transform: translateX(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.product-item img {
  width: 140px;
  height: 140px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-item h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.price {
  font-size: 18px;
  color: #e91e63;
  font-weight: 600;
}
