/* Main wrapper */
.login-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #f1f3f6;
  justify-content: center;
  align-items: center;
}

/* Left side */
.login-left {
  width: 30%;
  background: #2874f0;
  color: white;
  padding: 40px;
  height: 500px;
  border-radius: 4px 0 0 4px;
}

.login-left h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.login-left p {
  font-size: 17px;
  opacity: 0.9;
  margin-bottom: 40px;
}

.login-left img {
  width: 60%;
  margin-top: 50px;
}

/* Right side */
.login-right {
  width: 30%;
  background: white;
  height: 500px;
  border-radius: 0 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 80%;
}

.input-box {
  width: 100%;
  padding: 14px;
  border: 1px solid #c8c8c8;
  margin-bottom: 15px;
  border-radius: 3px;
  font-size: 16px;
}

.terms {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.terms span {
  color: #2874f0;
  cursor: pointer;
}

.login-btn {
  width: 100%;
  padding: 14px;
  background: #fb641b;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}

.or {
  text-align: center;
  margin: 20px 0;
  color: #666;
  font-weight: 600;
}

.create-account-btn {
  width: 100%;
  padding: 14px;
  background: #fff;
  border: 1px solid #c8c8c8;
  color: #2874f0;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 900px) {
  .login-wrapper {
    flex-direction: column;
    height: auto;
    padding: 40px 0;
  }
  .login-left, .login-right {
    width: 90%;
    height: auto;
    border-radius: 5px;
  }
}
